<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Create Petition</title>
  </head>
  <body>
    <h1>Create a New Petition</h1>
    <form
      th:action="@{/petitions/create}"
      th:object="${petition}"
      method="post"
    >
      <label for="title">Title:</label>
      <br />
      <input type="text" id="title" name="title" th:value="*{title}" required />
      <br />
      <label for="description">Description:</label>
      <br />
      <textarea
        id="description"
        name="description"
        th:value="*{description}"
        required
      ></textarea>
      <br />
      <button type="submit">Submit</button>
    </form>
    <br />
    <a th:href="@{/petitions/view}">Petitions</a>
    <br />
    <a th:href="@{/petitions/create}">Create a New Petition</a>
    <br />
    <a th:href="@{/petitions/search}">Search Petition</a>
    <br />
  </body>
</html>
